
nav.menu-nav{
  background-color: #2526EC;
  padding: 3px;
  max-width: 100%;
}


nav.menu-nav ul li.btn{
  list-style-type: none;
  display: inline-block;
  background-color: #2526EC;
 }

nav.menu-nav ul li.btn a{
  text-decoration: none;
  color: #BEEA05;
  background-color: #2526EC;
  padding: 17px;
  }

nav.menu-nav ul li.btn:hover a{
  color: #667D06;
  background-color: #060658;
  transition: 0.5s all;
  
}

img.logo{
  height: 125px;
}

.underline {
  text-decoration: underline;
}

.underline {
  font-family: sans-serif;
}

h1{
  font-size: 35px;
}

.blanc {
  color: white;
}

.argent {
  color: silver;
}

.gris {
  color: gray;
}

.noir {
  color: black;
}

.rouge {
  color: red;
}

.marron {
  color: maroon;
}

.jaune {
  color: yellow;
}

.vertclaire {
  color: lime;
}

.vert {
  color: green;
}

.olive {
  color: olive;
}

.bleumarine {
  color: navy;
}

.rose {
  color: fuchsia;
}

.violet {
  color: purple;
}

.bleuclaire {
  color: teal;
}

.gauche {
  text-align: left;
}

.centre {
  text-align: center;
}

.droite {
  text-align: right;
}

.clignotant {
  text-decoration: blink;
}

.para5 {
  
}

img.ev3img{
  height: 300px;
  border: 3px solid black;
  padding: 1px;
  margin: 10px;
}

h1.policebebas{
  font-family : 'Bebas Neue', cursif ;
}

.Audiowide {
  font-family: 'Audiowide', cursive;
}

.pointer {
  cursor: pointer;
}

 {
  display: inline-block;
  text-align: center;
  align-content: center;
  align-items: center;
}
